<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <link rel="shortcut icon" href="/img/logo_icone.svg" type="image/png">
        <title>Solicitação - <%= demanda.numeroSolicitacao %></title>
        <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/dashboard.css">
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
      </head>
<body>
    <%- include('navbar') %>

    <!-- Seu conteúdo da dashboard aqui -->
    <div class="container mt-5">
        <div class="row">
            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#legendaCollapse" aria-expanded="false" aria-controls="legendaCollapse">
                <h6> Mostrar Legenda </h6>
            </button>
        </div>
        <div class="row">
            <div class="collapse" id="legendaCollapse">
                <div class="status-bar">
                    <div class="status-column">
                        <i class="bi bi-envelope-arrow-down ativo"></i>
                        <span> Solicitação <br> recebida</span><br>
                        <strong><span class="enviada"> ENVIADA </span> </strong>
                    </div>
                    <div class="status-column">
                        <i class="bi bi-x-lg naoAceita"></i>
                        <span> Solicitação <br> não aceita</span><br>
                        <strong><span class=recusada>RECUSADA</span></strong>
                    </div>
                    <div class="status-column">
                        <i class="bi bi-hand-thumbs-up"></i>
                        <span> Solicitação <br> aceita</span><br>
                        <strong><span class="recebida"> RECEBIDA </span></strong>
                    </div>
                    <div class="status-column">
                        <i class="bi bi-kanban"></i>
                        <span> Em <BR>produção </span><br>
                        <strong><span class="producao">PRODUÇÃO </span></strong>
                    </div>
                    <div class="status-column">
                        <i class="bi bi-clock-history"></i>
                        <span> Aguardando <br> aprovação </span>
                        <br>
                        <strong> <span class="aprovacao">APROVAÇÃO</span></strong>
                    </div>
                    <div class="status-column">
                        <i class="bi bi-check-lg"></i>
                        <span> Aprovado </span><br><br>
                        <strong><span class="aprovado">APROVADA </span></strong>
                    </div>
                    <div class="status-column">
                        <i class="bi bi-envelope-check"></i>
                        <span> Entregue </span><br><br>
                        <strong><span class="entregue"> ENTREGUE </span></strong>
                    </div>
                    <div class="status-column">
                        <i class="bi bi-arrow-counterclockwise alteracaoIcone"></i>
                        <span> <strong> Alteração <br>Solicitada </strong> </span> <br><br>
                        <strong> <span class="alteracao"> ALTERAÇÃO </span></strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Número Solicitação</th>
                        <th scope="col">Data Abertura</th>
                        <th scope="col">Data Entrega</th>
                        <th scope="col">Status</th>
                        <th scope="col">Alterar</th>
                    </tr>
                </thead>
                <tbody>
                            <tr>
                                <th scope="row" class="numeroDemanda" data-numero="<%= demanda.numeroSolicitacao %>"><%= demanda.numeroSolicitacao %></th>
                                <td><%= demanda.dataAbertura.toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></td>
                                <td>
                                    <div id="dataEntregaAtual">
                                        <% if(demanda.dataEntrega) { %>
                                            <%= demanda.dataEntrega.toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' }) %>
                                        <% } else { %>
                                            <span> Sem data de entrega </span>
                                        <% } %>
                                        <i class="bi bi-pencil-square" onclick="exibirEdicaoData()"></i>
                                    </div>
                                    <div id="novaDataEntregaDiv" style="display: none;">
                                        Data Entrega Atual:
                                        <% if(demanda.dataEntrega) { %>
                                            <%= demanda.dataEntrega.toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' }) %>
                                        <% } else { %>
                                            <span> Sem data de entrega </span>
                                        <% } %> <br><br>
                                        <label for="novaDataEntrega" class="form-label">Inserir nova data de Entrega</label>
                                        <input id="novaDataEntrega" class="form-control" type="date">
                                        <button class="btn btn-primary mt-3" onclick="alterarDataEntrega(<%= demanda.numeroSolicitacao %>)">Salvar Nova Data</button>
                                        <i class="bi bi-x-circle mt-3" onclick="cancelarEdicaoData()"></i>
                                    </div>
                                        
                                </td>
                                <td class="status-cell"><span class="<%= demanda.ultimoStatus
                                    .toLowerCase()
                                    .replace(/\s+/g, '-')
                                    .replace(/ç/g, 'c')
                                    .replace(/[ãâáà]/g, 'a')
                                    .replace(/[õôóò]/g, 'o')
                                %>"><%= demanda.ultimoStatus %></span></td>
                                <td> 
                                    <button class="btn btn-primary editar-status-button" data-numeroSolicitacao="<%= demanda.numeroSolicitacao %>">Editar Status</button>
                                </td>
                            </tr>
                </tbody>
            </table>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="card-title">Informações de localização e contato</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                  <p><strong>Nome Solicitante:</strong>
                    <%= demanda.nome %>
                  </p>
                  <p><strong>Telefone:</strong>
                    <%= demanda.telefone %>
                  </p>
                    </div>
                    <div class="col-md-6">
                    <p><strong>Empresa Solicitante:</strong>
                        <%= demanda.qualEmpresa %>
                    </p>
                    <p><strong>Cidade/ Unidade:</strong>
                        <%= demanda.qualUnidade %>
                    </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h5 class="card-title">Sobre material</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Tipo de Material:</strong>
                        <%= demanda.tipoMaterial %>
                        </p>
                        <p><strong>Qual Material:</strong>
                        <%= demanda.qualMaterial %>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Qual Público do Material:</strong>
                            <%= demanda.qualPublico %>
                        </p>
                        <p><strong>Logos</strong><br>
                            Corretora(s): <%= demanda.corretoras %> <br>
                            Administradora(s): <%= demanda.administradoras %> <br>
                            Operadora(s): <%= demanda.operadora %>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <p> <strong> Informações de valor no material: </strong> <br>
                        <%= demanda.valorMaterial %>
                    </p>
                    <p> <strong> Especificações do material: </strong> <br>
                        <%= demanda.especificacoes %>
                    </p>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h5 class="card-title">Anexos</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <% if (anexos.length > 0) { %>
                            <% for (let i = 0; i < anexos.length; i++) { %>
                                <a href="<%= anexos[i].urlArquivo %>" target="_blank">Anexo <%= i + 1 %></a>
                            <% } %>
                        <% } else { %>
                            <p>Sem anexos nessa demanda</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        
        
        <h4 class="text-center"> Atualizações de Status </h4>

        <table class="table" id="tabelaStatus">
            <thead>
                <% if(statusdemanda.length > 0) { %>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                    <% statusdemanda.forEach(function(status) { %>
                        <tr>
                            <td><%= status.dataRegistro.toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></td>
                            <td><%= status.statusdemanda %></td>
                        </tr>
                   <% }); %>
                <% } else { %>
                    <p> Sem status no sistema </P>
                <% } %>
            </tbody>
        </table>

        <div class="card mb-4">
            <div class="card-header">
                <h5 class="card-title"> ALTERAÇÕES </h5>
            </div>
            <div class="card-body">
                <table class="table" id="tabelaStatus">
                    <thead>
                        <% if(alteracoes.length > 0) { %>
                        <tr>
                            <th scope="col">Data</th>
                            <th scope="col">Alteração</th>
                        </tr>
                    </thead>
                    <tbody>
                            <% alteracoes.forEach(function(alteracao) { %>
                                <tr>
                                    <td><%= alteracao.dataAlteracao.toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></td>
                                    <td><%= alteracao.descricao %></td>
                                </tr>
                            <% }); %>
                        <% } else { %>
                            <p> Sem alterações no sistema </p>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Status - Solicitação Nº <span id="numeroSolicitacaoTitulo"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="numeroSolicitacaoInput">
                    <label for="statusSelect">Selecione o novo status:</label>
                    <select id="statusSelect" class="form-select">
                        <option disabled selected>Selecione o novo status</option>
                        <option value="RECUSADA">RECUSADA</option>
                        <option value="RECEBIDA">RECEBIDA</option>
                        <option value="PRODUÇÃO">PRODUÇÃO</option>
                        <option value="APROVAÇÃO">APROVAÇÃO</option>
                        <option value="APROVADA">APROVADA</option>
                        <option value="ENTREGUE">ENTREGUE</option>
                        <option value="ALTERAÇÃO">ALTERAÇÃO</option>
                    </select>
                    <div id="dataEntregaInput" style="display: none;">
                        <label for="dataEntrega">Data de Previsão de Entrega:</label>
                        <input type="date" id="dataEntrega" class="form-control">
                    </div>
                    <div id="motivoRecusaInput" style="display: none;">
                        <label for="motivoRecusa">Motivo da Recusa:</label>
                        <textarea id="motivoRecusa" class="form-control"></textarea>
                    </div>
                    <div id="alteracaoInput" style="display: none;">
                        <label for="alteracao">Qual alteração foi solicitada:</label>
                        <textarea id="alteracao" class="form-control"></textarea>
                    </div>
                    <div id="linkEntregaInput" style="display: none;">
                        <label for="linkEntrega">Link para cliente baixar/visualizar o material</label>
                        <input id="linkEntrega" class="form-control">
                    </div>
                    <div id="textoAprovacaoInput" style="display: none;">
                        <label for="textoAprovacao">Observações sobre a aprovação</label>
                        <textarea id="textoAprovacao" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" onclick="salvarNovoStatus()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mensagem">
    </div>
</body>
<script src="/js/demandas.js"></script>
</html>