<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <link rel="shortcut icon" href="/img/logo_icone.svg" type="image/png">
        <title>Solicitação - <%= demanda.numeroSolicitacao %></title>
        <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/css/dashboard.css">
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
      </head>
<body>
    <%- include('navbar') %>

    <!-- Seu conteúdo da dashboard aqui -->
    <div class="container mt-5">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Número Solicitação</th>
                        <th scope="col">Data Abertura</i></th>
                        <th scope="col">Status</th>
                        <th scope="col">Alterar</th>
                    </tr>
                </thead>
                <tbody>
                            <tr>
                                <th scope="row" class="numeroDemanda" data-numero="<%= demanda.numeroSolicitacao %>"><%= demanda.numeroSolicitacao %></th>
                                <td><%= demanda.dataAbertura.toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></td>
                                <td class="status-cell"><%= demanda.ultimoStatus %></td>
                                <td> 
                                    <button class="btn btn-primary editar-status-button" data-numeroSolicitacao="<%= demanda.numeroSolicitacao %>">Editar Status</button>
                                </td>
                            </tr>
                </tbody>
            </table>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="card-title">Informações de localização e contato</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                  <p><strong>Nome Solicitante:</strong>
                    <%= demanda.nome %>
                  </p>
                  <p><strong>Telefone:</strong>
                    <%= demanda.telefone %>
                  </p>
                    </div>
                    <div class="col-md-6">
                    <p><strong>Empresa Solicitante:</strong>
                        <%= demanda.qualEmpresa %>
                    </p>
                    <p><strong>Cidade/ Unidade:</strong>
                        <%= demanda.qualUnidade %>
                    </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h5 class="card-title">Sobre material</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Tipo de Material:</strong>
                        <%= demanda.tipoMaterial %>
                        </p>
                        <p><strong>Qual Material:</strong>
                        <%= demanda.qualMaterial %>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Qual Público do Material:</strong>
                            <%= demanda.qualPublico %>
                        </p>
                        <p><strong>Logos</strong><br>
                            Corretora(s): <%= demanda.corretoras %> <br>
                            Administradora(s): <%= demanda.administradoras %> <br>
                            Operadora(s): <%= demanda.operadora %>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <p> <strong> Informações de valor no material: </strong> <br>
                        <%= demanda.valorMaterial %>
                    </p>
                    <p> <strong> Especificações do material: </strong> <br>
                        <%= demanda.especificacoes %>
                    </p>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Referência:</strong> <br>
                        <% function isImage(filename) { %>
                        <%    var ext = filename.split('.').pop().toLowerCase(); %>
                        <%    return ext === 'jpg' || ext === 'jpeg' || ext === 'png' || ext === 'gif' || ext === 'bmp'; %>
                        <% } %>
                        <% if (demanda.referenciaAnexo) { %>
                            <% if (isImage(demanda.referenciaAnexo)) { %>
                                <img src="/<%= demanda.referenciaAnexo %>" style="max-width: 100%;">
                            <% } else { %>
                                <a href="/<%= demanda.referenciaAnexo %>" target="_blank">Visualizar PDF</a>
                            <% } %>
                        <% } else { %>
                            Imagem não anexada.
                        <% } %>
                    </p>
                </div>
                <div class="col-md-6">
                    <p><strong>Autorização:</strong> <br>
                        <% if (demanda.autorizacao) { %>
                            <% if (isImage(demanda.autorizacao)) { %>
                                <img src="/<%= demanda.autorizacao %>" style="max-width: 100%;">
                            <% } else { %>
                                <a href="/<%= demanda.autorizacao %>" target="_blank">Visualizar PDF</a>
                            <% } %>
                        <% } else { %>
                            Imagem não anexada.
                        <% } %>
                    </p>
                </div>
            </div>
        </div>
        
        <h4 class="text-center"> Atualizações de Status </h4>

        <table class="table" id="tabelaStatus">
            <thead>
                <% if(statusDemanda.length > 0) { %>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                    <% statusDemanda.forEach(function(status) { %>
                        <tr>
                            <td><%= status.dataRegistro.toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></td>
                            <td><%= status.statusDemanda %></td>
                        </tr>
                   <% }); %>
                <% } else { %>
                    <p> Sem status no sistema </P>
                <% } %>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Status - Solicitação Nº <span id="numeroSolicitacaoTitulo"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="numeroSolicitacaoInput">
                    <label for="statusSelect">Selecione o novo status:</label>
                    <select id="statusSelect" class="form-select">
                        <option disabled selected>Selecione o novo status</option>
                        <option value="RECUSADA">RECUSADA</option>
                        <option value="RECEBIDA">RECEBIDA</option>
                        <option value="PRODUÇÃO">PRODUÇÃO</option>
                        <option value="APROVAÇÃO">APROVAÇÃO</option>
                        <option value="APROVADA">APROVADA</option>
                        <option value="ENTREGUE">ENTREGUE</option>
                    </select>
                    <div id="dataEntregaInput" style="display: none;">
                        <label for="dataEntrega">Data de Previsão de Entrega:</label>
                        <input type="date" id="dataEntrega" class="form-control">
                    </div>
                    <div id="motivoRecusaInput" style="display: none;">
                        <label for="motivoRecusa">Motivo da Recusa:</label>
                        <textarea id="motivoRecusa" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" onclick="salvarNovoStatus()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mensagem">
    </div>
</body>
<script src="/js/demandas.js"></script>
</html>